h1, h5{
    color: #212529;
}
.student-thumb{
    border: 1px solid rgba(0, 0, 0, 0.336);
    height: 400px;
    width: 350px;
    margin: 10px;
    border-radius: 8px;
}
.student-thumb:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.student-img{
    height: 50%;
    width: 55%;
}
